@import '../../Variables.scss';

section.contact-banner {
    padding: 3rem 0 2rem;
    background-color: $gray-color;

    .content-wrapper {
        text-align: center;

        h4 {
            text-transform: none;
            color: $primary-color;

            a {
                color: $primary-color;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    section.contact-banner {
        .content-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 3rem;

            h4 {
                display: inline-block;
            }
        }
    }   
}