@import '../../../../../../../../../../Variables.scss';

.tag.acepted-preoffer,
.tag.refused-preoffer {
    cursor: pointer;
}

.tag.acepted-preoffer {
    background-color: $primary-color;
    color: $light-color;
}