@import '../../../../../Variables.scss';

.lot-list-container {
    background: $medium-light-color;
    padding: 2rem 1rem;

    .lot-card {
        background-color: darken($color: $medium-light-color, $amount: 3);
        padding: 1rem;
        border-radius: $sm-border-radius;

        .title-animals {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            color: $primary-color;
        }
    }
}