.upload-video-page {
    .card {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;

        .separator {
            margin: 0 auto;
            margin-bottom: 1rem;
        }
    }
}