@import '../../../../Variables.scss';

.live-events-list {
    .item {
        cursor: pointer;
        text-align: center;

        .content {
            box-shadow: $box-shadow;
            margin-bottom: 3rem;
            border-radius: $sm-border-radius;
            overflow: hidden;

            .thumb {
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    transition: $main-transition;

                    &:hover {
                        transform: scale(1.025);
                    }
                }
            }
        }

        .description {
            padding: 2rem 2rem 1rem;

            small {
                display: block;
                color: $medium-dark-color;
            }

            .date {
                display: block;
                padding: .2rem .8rem;
                margin: 1rem auto 0;
                border-radius: $sm-border-radius;
                background-color: $primary-color;
                color: $light-color;
                width: fit-content;
            }
        }
    }
}